<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header') %>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Open Sans", sans-serif;
            background-color: #1F4769;
        }



        .spacer {
            height: 100px; /* Adjust as needed */
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: center; /* Center the cards horizontally */
            gap: 30px; /* Add spacing between cards */
        }

        .cards__item {
            width: 250px; /* Adjust card width */
            margin-bottom: 30px; /* Add spacing between cards */
            border-radius: 8px; /* Add border radius */
            overflow: hidden; /* Hide overflow content */
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            transition: transform 0.3s ease;
        }

        .cards__item:hover {
            transform: translateY(-5px); /* Add a slight lift on hover */
        }

        .card__image {
            width: 100%;
            height: 200px; /* Adjust image height */
            background-position: center;
            background-size: cover;
        }

        .card__content {
            padding: 20px;
        }

        .card__title {
            color: white;
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .card__text {
            color: #999999;
            font-size: 0.875rem;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="spacer"></div>

    <ul class="cards">
      <% camps.forEach((camp, index) => { %>
        <li class="cards__item">
          <a href="/showcamp/<%= camp.id %>">
            <div class="card">
              <div class="card__image" style="background-image: url('<%= camp.imageUrl ? camp.imageUrl : 'https://picsum.photos/200/300?random=' + index %>');"></div>
              <div class="card__content">
                <div class="card__title"><%= camp.title %></div>
                <p class="card__text"><%= camp.location %></p>
              </div>
            </div>
          </a>
        </li>
      <% }); %>
    </ul>
</body>
</html>
